<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hoteles Buena Vista</title>
        <link rel="stylesheet" href="/css/estilo.css"> 
    </head>
    <body>
        <!-- Header con menú -->
        <header>
            <nav class="navbar">
                <a href="/hoteles/main"><button class="nav-btn">Hoteles</button></a>
                <a href="/cliente/main"><button class="nav-btn">Clientes</button></a>
                <button class="nav-btn">Proveedores</button>
                <button class="nav-btn">Reservaciones</button>
            </nav>
        </header>

        <!-- Contenido principal -->
        <div class="main-container">

            <div class="left-side">
                <h1> <span class="highlight">Hoteles</span> Buena Vista </h1>
                <p class="principal-texto">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    <br>
                    <br>
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 


                </p>
            </div>


            <div class="right-side">
                <img src="https://cdn-icons-png.flaticon.com/512/3033/3033247.png" alt="Imagen Hoteles">
            </div>
        </div>
    </body>
</html>
