<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="/css/estilo.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="main-container">
        <div class="content">
            <div class="background-image-cliente"></div>
            <h1 class="titulo">Hoteles Buena Vista - Proveedores</h1>
            <div class="search-container">
                <div class="search-bar">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Buscar Cliente">
                </div>
                <div class="action-buttons">  
                    <a href="/proveedor/registro"><button class="btn">Agregar Proveedor</button></a>
                    <a href="/proveedor/modificar"><button class="btn">Modificar Proveedor</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
