
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;  
}
.login-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.login-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.login-left h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}


.login-left form {
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}


.login-left label {
    margin-top: 15px;
    font-size: 1.1em;
}

.login-left input {
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}


.login-left button {
    margin-top: 20px;
    padding: 12px;
    background-color: #0e1938;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.login-left button:hover {
    background-color: #0056b3;
    color: white;
}

.login-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-right img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}



/*SECCION PRINCIPAL*/
header {

    padding: 10px 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: right;
}

.nav-btn {
    background-color: #0e1938;
    color: white;
    padding: 10px 20px;
    margin: 0 15px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.main-container {
    display: flex;
    padding-top: 5%;
    height: 100vh;
    justify-content: space-between;
    padding: 20px;
}

.principal-texto{
    color: #9d9393;
    font-size: 28px;
}
.left-side {
    width: 50%;
    padding: 40px;
}

h1 {
    font-size: 48px;
    color: black;
    line-height: 1.2;
}

.highlight {
    color: #971858; 
}

.principal-texto{
        color:  9d9393;
}

p {
    font-size: 18px;
    margin-top: 20px;
}

.right-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}


/*SECCION PRINCIPAL DE LOS HOTELES*/



.main-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
   
}


.background-image {
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    transform: translateY(-20%); 
    width: 60%;
    height: 60%; 
    background-image: url('https://img.freepik.com/vector-gratis/ilustracion-concepto-torre-hotel_114360-14042.jpg');
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    z-index: -1;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 90%;
    max-width: 900px;
    text-align: center;
    z-index: 1;
}

h1 {
    font-size: 48px;
    color: #971858;
    margin-bottom: 20px;
}

.search-container {
    display: contents;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}


.search-bar {
    display: flex;
    align-items: center;
    border: black 1px solid;
    border-radius: 5px;
    padding: 8px 12px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 50px;
   
}

.search-bar i {
    color: #333;
    margin-right: 8px;
}

.search-bar input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    color: #555;
    background-color: transparent;
}

.search-bar input::placeholder {
    color: #aaa;
    border:none;
}

.action-buttons {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    gap: 10px;
    margin-top: 10px;
}

.btn {
    background-color: #0e1938;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #1a2a4b;
}

.titulo{
    margin: 50px;
}


/*SECCION PARA MODIFICAR EL REGISTRO*/


.container-registro {
    display: flex;
    width: 80%;
    max-width: 1000px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5%;
}


.left-section, .right-section {
    padding: 20px;
}

.left-section {
   width: 40%;
    background-color: #f9f9f9;
    text-align: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

.left-section h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.hotel-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.right-section {
    width: 50%;
}

.right-section h2 {
    color: #971858;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"] {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 16px;
}

.register-button {
    padding: 12px;
    background-color: #971858;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-button:hover {
    background-color: #7a1245;
}


/*SECCION PRINCIPAL DE LOS CLIENTE - REGISTRO-MODIFICACION Y BUSQUEDA*/

.background-image-cliente {
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    transform: translateY(-20%); 
    width: 60%;
    height: 60%; 
    background-image: url('https://img.freepik.com/vector-gratis/concepto-retroalimentacion-plana-organica-ilustrado_23-2148952275.jpg?t=st=1731174532~exp=1731178132~hmac=86b3f4d44ee9b4a7ba76dba54800680347efc928b7d0ab540ba412c40b6b6102&w=900');
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    z-index: -1;
}


/*REGISTRO DE PROVEEDORES*/
.header-reservacion {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: black;
    border-radius: 8px;
}

.header-reservacion .title {
    font-size: 24px;
}

.header-reservacion .reservation-btn {
    background-color: #971858;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 20px;
}

.header-reservacion .reservation-btn:hover {
    background-color: #f0f0f0;
}

/* Main container */
.main-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Formulario de reservación */
.reservation-form {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reservation-form form {
    display: flex;
    flex-direction: column;
}

.reservation-form label {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}

.reservation-form input[type="text"],
.reservation-form input[type="date"],
.reservation-form select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
}

/* Estilo para el contenedor de selectores */
.reservacion1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 10px;
}

.submit-btn {
    background-color: #971858;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #7a1245;
}

.reservacion-fechas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 10px;
}

/*CONFIRMACION DE LA RESERVA*/

.main-container-con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 20px;
}
.confirmation-details {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.confirmation-details h2 {
    font-size: 2rem;
    color: #4CAF50;
    margin-bottom: 20px;
}

.confirmation-details h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 15px;
}

.confirmation-details ul {
    list-style: none;
    margin-bottom: 30px;
}

.confirmation-details li {
    font-size: 1rem;
    margin: 10px 0;
    text-align: left;
}

.confirmation-details li strong {
    font-weight: 600;
    color: #333;
}

.confirmation-details li span {
    font-weight: normal;
    color: #777;
}

.confirmation-details button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.confirmation-details button:hover {
    background-color: #45a049;
}


/*SECCION DE SUMINISTRO*/

.right-section-suministro {
    flex: 2;
    padding: 20px;
}

.right-section-suministro h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #333;
}

/* Hotel Search */
.hotel-search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.hotel-search label {
    font-size: 16px;
    margin-right: 10px;
}

#hotel-search-input {
    width: 100%;
    max-width: 300px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

#search-button {
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid #971858;
    border-radius: 4px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}

/* Table Styles */
.suministro-table-container {
    overflow-x: auto;
    margin-top: 20px;
}

#suministro-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#suministro-table th, #suministro-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#suministro-table th {
    background-color: #971858;
    color: white;
    font-weight: bold;
}

#suministro-table tr:hover {
    background-color: #f1f1f1;
}


.action-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem; 
    margin-top: 20px;
}


.action-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #971858; 
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.action-buttons button:hover {
    background-color: #a3165d; 
    transform: translateY(-2px); 
}


.action-buttons button:active {
    background-color: #003d80; 
    transform: translateY(1px); 
}


#add-button {
    background-color: #971858; 
}


#add-button:active {
    background-color: #1e7e34; 
}

#modify-button {
    background-color: #0e1938; 
   
}

