<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Reserva</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>

    <main class="main-container-con">
        <section class="confirmation-details">
            <h2>¡Reserva realizada con éxito!</h2>

            <h3>Detalles de la Reserva:</h3>
            <ul>
                <li><strong>Identificación del cliente:</strong> </span></li>
                <li><strong>Hotel:</strong></li>
                <li><strong>Tipo de habitación:</li>
                <li><strong>Método de pago:</strong> </li>
                <li><strong>Fecha de entrada:</strong></li>
                <li><strong>Fecha de salida:</strong></li>
            </ul>
            <a href="/principal/principal"><button class="reservation-btn">Volver al inicio</button></a>
        </section>
    </main>
</body>
</html>
